.img {

  background-image: url("KAPE.jpg");
  background-size: cover;
  background-position: center center;
  /* background-color: #456390; */
}

.img1 {

  /* background-image: url("KAPE.jpg"); */
  background-size: cover;
  background-position: center center;
  background-color: #1A56DB;
}

.img2 {
  background-image: url("kape3.jpg");
  background-size: cover;
  background-position: center center;
  /* background-color: #456390; */
}

.img3 {
  background-image: url("watermark.png");
  background-size: cover;
  background-position: center center;
  /* background-color: #456390; */
}


.table-success, .table-success > th, .table-success > td {
    background-color: #c3e6cb;
}

.strand {
  display:none;
}